<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
    <title>history for {{car.username}}</title>
</head>
</head>

<body>
    <div class ='c'>
        <div class ='c1'><a class='title' href="/admin/" style='font-weight: bold;' >Geolocalisation System</a></div>
        <div class ='c2'>History for "{{car.username}}"</div>
        <div class ='c3' id="user-tools" >
            WELCOME,<b  style='font-size: 20px;' >{{user.username}}</b>
            <a href="{% url 'admin:index' %} " style='font-size: 20px;color: white'>Dashboard</a> /
            <a href="{% url 'admin:password_change' %}" style='font-size: 20px;color: rgb(228, 197, 197)'>Change password</a> /
            <a href="{% url 'admin:logout' %}" style='font-size: 20px;color: white'>Log out</a>
        </div>
    </div>

        <div>
            <div id='map' style='display: block;height:100%;width: 100%;'></div>
        </div>
    <script>
    </script>
    <script>
        mapboxgl.accessToken = "pk.eyJ1IjoiY2hpa28zNjAiLCJhIjoiY2txanZxc3JkMDMyeTJ1cGkxZzVlZHYxNSJ9.NdRkV1ipVa-FPVJQyWVfAQ";
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            {% if center %}
            center: {{ center }},
            {% endif %}
        zoom: 4
        });
        map.on('load', function () {
            window.setInterval(function () {
                map.getSource('route').setData(url);
            }, 1000);
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': [
                            {% for location in locations %}
                            {{ location }},
                    {% endfor %}
                        ]
                    }
                }
            });

        {% if start %}
        var el = document.createElement('div');
        el.className = 'marker';
        el.style.backgroundImage =
            'url({% static 'home.png' %})';
        el.style.width = '30px';
        el.style.height = '30px';
        el.style.backgroundSize = '100%';
        var popup = new mapboxgl.Popup({ offset: 25 }).setText(
            '{{ firsttime }}'
        );       
        var markerstart = new mapboxgl.Marker(el)
            .setLngLat({{ start }})
            .setPopup(popup)
            .addTo(map);
        {% endif %}
        {% if center %}
        var popup1 = new mapboxgl.Popup({ offset: 25 }).setText(
            '{{ lasttime }}'
        );            
        var marker = new mapboxgl.Marker({ 'color': '#ff0000' })
            .setLngLat({{ center }})
            .setPopup(popup1)
            .addTo(map);
            {% endif %}
        map.addLayer({
            'id': 'route',
            'type': 'line',
            'source': 'route',
            'layout': {
                'line-join': 'round',
                'line-cap': 'round'
            },
            'paint': {
                'line-color': '#888',
                'line-width': 8
            }
        });
        });
    </script>
</body>

</html>