{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <title>Map</title>
</head>

<body>
  <div class ='c'>
    <div class ='c1'><a class='title' href="/admin/" style='font-weight: bold;' >Geolocalisation System</a></div>
    <div class ='c3' id="user-tools" >
        WELCOME,<b  style='font-size: 20px;' >{{user.username}}</b>
        <a href="{% url 'admin:index' %} " style='font-size: 20px;color: white'>Dashboard</a> /
        <a href="{% url 'admin:password_change' %}" style='font-size: 20px;color: rgb(228, 197, 197)'>Change password</a> /
        <a href="{% url 'admin:logout' %}" style='font-size: 20px;color: white'>Log out</a>
    </div>
</div>
  <div class="sidebar">
    <br/>
    {% for user in users %}
    <div> <div class="name">{{user.username}}</div>
      <button type="button" onclick="currentlink('{{user.id}}')">Get location</button>
      <a href="history/{{user.id}}" target="_blank" ><button type="button"  >history</button></a></div>
      <hr style="width: 250px;align-items: center; height:2px;border-width:0;color:gray;background-color:gray"/>
    {% endfor %}
  </div>
  <div class="content">
    <div id='map' style='display: block;height:100%'></div>
  </div>
  <script>

  </script>
  <script>
    mapboxgl.accessToken = "pk.eyJ1IjoiY2hpa28zNjAiLCJhIjoiY2txanZxc3JkMDMyeTJ1cGkxZzVlZHYxNSJ9.NdRkV1ipVa-FPVJQyWVfAQ";
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      center: [-0.6308500, 35.1899400],
      zoom: 12
    });
    var url = "";
    let currentlink = (id) => { url = window.location+ "api/current/" + id+"/"; }
    map.on('load', function () {
      var request = new XMLHttpRequest();
      window.setInterval(function () {
        request.open('GET', url, true);
        request.onload = function () {
          if (this.status >= 200 && this.status < 400) {
            var json = JSON.parse(this.response);
            map.getSource('drone').setData(json);
            map.flyTo({
              center: json.geometry.coordinates,
              speed: 2
            });
          }
        };
        request.send();
      }, 1000);

      map.addSource('drone', { type: 'geojson', data: url });
      map.addLayer({
        'id': 'drone',
        'type': 'symbol',
        'source': 'drone',
        'layout': {
          'icon-image': 'car-15',
          'icon-size': 2,
        },
      });
    });
  </script>
</body>

</html>