.c {
    background-color: black;
    display: flex;
    flex-direction: row;
}
.c1 {
    flex-grow: 1;
}
.c2 {
    flex-grow: 5;
}

#django {
    background-color: #417690;
    width: 100%;
    height: 50px;
}


