
<html>
<head>
  <link href='map.css' rel='stylesheet' />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Map</title>
</head>

<body>
<div style="
    background-color: #417690;
    width: 100%;
    height: 50px;
    margin: 0px;
    display: flex;
">
<div style="flex-grow: 1;padding-left: 40px;padding-top: 10px"><a href="/admin/" style='color: #F5DD5D;font-size: 24px;font-weight: 300'>Geolocalisation System</a></div>
    <div id="user-tools" style="flex-grow: 1;text-align: right;padding-top: 15px;padding-right:40px;color: #FFFFCC"> 
                WELCOME,<b>{{user.username}}</b>
                <a href="{% url 'admin:index' %} " style='color: white'>Dashboard</a> /
                <a href="{% url 'admin:password_change' %}" style='color: white'>Change password</a> /
                <a href="{% url 'admin:logout' %}" style='color: white'>Log out</a>            
</div>
</div>

  <div style="display: flex;flex-direction: row;height: 80%;margin: 4%;">
    <div style="flex-grow: 1;height: 8px;margin: 10px;">
      <table class="table">
        <thead>
          <tr>
            <th>Cars</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td id="{{user.id}}" >{{user.username}}</td>
            <td><button type="button" onclick="currentlink('{{user.id}}')" >get location</button></td>
            <td><button type="button" onclick="window.open('http://localhost:8000/history/{{user.id}}', '_blank').focus();">view history</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div style="flex-grow: 5;">
      <div id='map' style='display: block;height:80%'></div>
    </div>
  </div>
  <script>

  </script>
  <script>
    mapboxgl.accessToken = "pk.eyJ1IjoiY2hpa28zNjAiLCJhIjoiY2txanZxc3JkMDMyeTJ1cGkxZzVlZHYxNSJ9.NdRkV1ipVa-FPVJQyWVfAQ";
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      center: [-0.6308500, 35.1899400],
      zoom: 12
    });
    var url = "";
    let currentlink = (id) => { url = "http://localhost:8000/api/current/" + id; }
    map.on('load', function () {
      var request = new XMLHttpRequest();
      window.setInterval(function () {
        request.open('GET', url, true);
        request.onload = function () {
          if (this.status >= 200 && this.status < 400) {
            var json = JSON.parse(this.response);
            map.getSource('drone').setData(json);
            map.flyTo({
              center: json.geometry.coordinates,
              speed: 2
            });
          }
        };
        request.send();
      }, 1000);

      map.addSource('drone', { type: 'geojson', data: url });
      map.addLayer({
        'id': 'drone',
        'type': 'symbol',
        'source': 'drone',
        'layout': {
          'icon-image': 'car-15'
        }
      });
    });
  </script>
</body>

</html>