<html>

<head>
  <link href='map.css' rel='stylesheet' />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Map</title>
</head>

<body>
  <div style="display: flex;flex-direction: row;height: 80%;margin: 4%;">
    <div style="flex-grow: 1;height: 8px;margin: 10px;">
      <table class="table">
        <thead>
          <tr>
            <th>Cars</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td id="{{user.id}}" onclick="ism('{{user.id}}')">{{user.username}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div style="flex-grow: 5;">
      <div id='map' style='display: block;height:80%'></div>
    </div>
  </div>
  <script>

  </script>
  <script>
    mapboxgl.accessToken = "pk.eyJ1IjoiY2hpa28zNjAiLCJhIjoiY2txanZxc3JkMDMyeTJ1cGkxZzVlZHYxNSJ9.NdRkV1ipVa-FPVJQyWVfAQ";
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      center: [-0.6308500, 35.1899400],
      zoom: 12
    });
    var url = "";
    let ism = (id) => {url = 'http://localhost:8000/current/'+id; }
    map.on('load', function () {
      var request = new XMLHttpRequest();
      window.setInterval(function () {
        request.open('get', url, true);
        request.onload = function () {
          if (this.status >= 200 && this.status < 400) {
            var json = JSON.parse(this.response);
            map.getSource('drone').setData(json);
            map.flyTo({
              center: json.geometry.coordinates,
              speed: 0.5
            });
          }
        };
        request.send();
      }, 5000);

      map.addSource('drone', { type: 'geojson', data: url });
      map.addLayer({
        'id': 'drone',
        'type': 'symbol',
        'source': 'drone',
        'layout': {
          'icon-image': 'car-15'
        }
      });
    });

    /*history of an element */
    map.on('load', function () {
      map.addSource('route', {
        'type': 'geojson',
        'data': {
          'type': 'Feature',
          'properties': {},
          'geometry': {
            'type': 'LineString',
            'coordinates': [
              [-0.6308500, 35.1899400],
              [-0.6308200, 35.1899502],
              [-0.6308400, 35.1899130],
              [-0.6308900, 35.1899420],
              [-0.6309300, 35.1899405],
              [-0.6308200, 35.1899500],
              [-0.6308300, 35.1899600],
              [-0.6308400, 35.1899700],
              [-0.6308500, 35.1899800],
              [-0.6308600, 35.1899900],
              [-0.6308700, 35.1899450],
              [-0.6308800, 35.1899460],
              [-0.6308900, 35.1899470],
              [-0.6308950, 35.1899480],
              [-0.6308850, 35.1899490],
              [-0.6308750, 35.1899310],
              [-0.6308500, 35.1899420],
              [-0.6308600, 35.1899430],
              [-0.6308700, 35.1899440],
              [-0.6308800, 35.1899450],
              [-0.6308900, 35.1899460],
              [-0.6308500, 35.1899490],
              [-0.6308500, 35.1899400],
              [-0.6308500, 35.1899500],
              [-0.6308500, 35.1899600],
              [-0.6308500, 35.1899700],
              [-0.6308500, 35.1899100],
              [-0.6308500, 35.1899200],
              [-0.6308500, 35.1899300],
              [-0.6308500, 35.1899400],
              [-0.6308500, 35.1899500],
            ]
          }
        }
      });
      map.addLayer({
        'id': 'route',
        'type': 'line',
        'source': 'route',
        'layout': {
          'line-join': 'round',
          'line-cap': 'round'
        },
        'paint': {
          'line-color': '#888',
          'line-width': 8
        }
      });
    });
  </script>
</body>

</html>